<template>
  <div class="admin-post-page">
    <section class="update-form">
      <AdminPostForm :post="loadedPost"/>
    </section>
  </div>
</template>

<script>
  import AdminPostForm from '@/components/Admin/AdminPostForm'
  export default {
    layout: 'admin',
    components:{
      AdminPostForm,
    },
    data() {
      return {
        loadedPost: {
          author: 'Captain',
          title: 'Title',
          content: 'Content',
          thumbnailLink:"https://www.google.com/imgres?imgurl=https%3A%2F%2Fcdn.pixabay.com%2Fphoto%2F2015%2F04%2F23%2F22%2F00%2Ftree-736885__340.jpg&imgrefurl=https%3A%2F%2Fpixabay.com%2Fimages%2Fsearch%2Fnature%2F&docid=Ba_eiczVaD9-zM&tbnid=_2JirDBiGzi3lM%3A&vet=10ahUKEwir5fa3t7XoAhUSSX0KHcEsAuMQMwh5KAAwAA..i&w=546&h=340&bih=887&biw=924&q=images&ved=0ahUKEwir5fa3t7XoAhUSSX0KHcEsAuMQMwh5KAAwAA&iact=mrc&uact=8",
        },
      };
    },
  }
</script>
<style scoped>
  .update-form {
    width: 90%;
    margin: 20px auto;
  }

  @media (min-width: 768px) {
    .update-form {
      width: 500px;
    }
  }
</style>

